.board {
    position: relative;
    width: 600px;
    height: 500px;
    border: 1px solid black;
    margin: 0% auto;
    overflow: hidden;
    background-color:  rgb(131, 133, 255);
}

.modal {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.40);
    justify-content: center;
    align-items: center;
}

.modal.show {
    display: block;
}

.menu {
    align-content: center;
    align-self: center;
    margin: 100px auto;
    font-size: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin: 150 auto;
    width: 300px;
    height: 300px;
    background: linear-gradient( red , rgb(248, 100, 100) );
    /* cursor: pointer; */
}

#pipe {
    position: absolute;
    width: 80px;
    bottom: 0;
    right: 100%;
    animation: pipe-anime 2s infinite linear;
}
#mario {
    position: absolute;
    bottom: 0;
    height: 120px;
}
.jump {
    animation: mario-jump 1.0s;
}

#nuvem {
    position: absolute;
    width: 450px;
    top: 0;
    right: 0%;
    animation: nuvem-voando 10s infinite linear;
}
@keyframes nuvem-voando{
    from {
        right: -100%;
    }
    to {
        right: 100%;
    }
}

@keyframes pipe-anime {
    from {
        right: -80px;
    }
    to {
        right: 100%;
    }
}
@keyframes mario-jump {
    0% {
        bottom: 0;
    }
    40% {
        bottom: 150px;
    }
    60% {
        bottom: 150px;
    }
    100% {
        bottom: 0;
    }
}
